.field-container .mat-form-field + .mat-form-field {
  margin-left: 8px;
}

form {
  padding: 20px;
}

.field-container {
  display: flex;
}
.mat-form-field {
  width: 100%;
}

section {
  display: table;
}

.example-label {
  display: table-cell;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
}

.example-button-row {
  display: table-cell;
}

.example-button-row .mat-button-base {
  margin: 8px 8px 8px 0;
}

.example-flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.example-button-container {
  display: flex;
  justify-content: center;
  width: 120px;
}


@media (min-width: 800px) {
  .container-password {
    display: flex;

    > div {
      width: 50%;
    }

    > div:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.form-wrapper {
  background-image: linear-gradient(to top, white 60% 80%, #311b92 80%);
  height: 100%;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    background-color: #fff;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    width: 50%;
  }
}

.button {
  width: 100%;
  margin-top: 10px;
}

// .primary-button {
//   background-color: #311b92;
// }

button {
  background-color: #311b92 !important;
}