header {
  height: 10vh;
  min-height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: white;
  box-shadow: 0 0 1px rgb(107, 107, 107);
}
header .logo-area {
  display: flex;
  justify-content: center;
  align-items: center;
}
header .logoName {
  padding: 10px;

  font-size: max(25px, 2vw);
  letter-spacing: 2px;
  font-weight: 100;
  color: #084177;
  border: 1px dashed #dadada;
  border-radius: 8px;
  text-decoration: none;
}
 .nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  z-index: 1000;
  transform: translateX(-100%);
  transition: 0.3s;
}
.show-nav{
  transform: translateX(0);
}


header .nav .ul-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
header .nav .ul-header li {
  padding: 20px 0px;
}
header .menu-mobile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 30px;
  height: 30px;
  z-index: 1000;
 
}
 .hamburguer, .hamburguer2 {
  width: 20px;
  height: 2px;
  background-color: black;
  transition: 0.3s;
  margin: 2px 0;
}

 .close-right{
  transform: rotate(45deg);
 
}
.close-left{
  transform: rotate(-45deg);
 margin-top: -4px;
}
@media (min-width: 900px) {
  header .nav {
    position: relative;
    display: flex;
    width: auto;
    transform: translateX(0);
  }
  header .nav .ul-header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
  }
  header .menu-mobile {
    display: none;
   
  }
  header .nav .ul-header li {
    padding: 00px 20px;
    border-left: 1px solid grey;
  }
 
}
