<header>

    <div class="logo-area">

       <a class="logoName" routerLink="/">Mangue Travels</a>
    </div>

    <nav>
        <ul class="ul-header">
            <li><a routerLink="/favoritos">Favoritos</a></li>
            <li><a routerLink="/perfil">Perfil</a></li>
            <li><a routerLink="/faleconosco">Fale Conosco</a></li>
            <li><a routerLink="/cadastro">Login</a></li>
        </ul>
    </nav>

    <div class="menu-mobile">
        <div class="hamburguer"></div>
    </div>
</header>