.contact {
    display: flex;
    justify-content: space-evenly;
    margin: 12px 0;
    section {
        border: 1px solid  #084177;
        text-align: center;
        box-shadow: 5px 5px #888888;
        img {
            width: 100%;
            border-bottom: 1px solid black;
            height: 180px;
        }
        h3 {
            text-transform: uppercase;
            border-bottom: 1px solid black;
            margin: 0;
            color: white;
            background: #084177;
        }
        p {
            margin: 0 12px;
            border-bottom: 1px solid black;
        }
    }
}