.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  max-width: 224px;
  height: 60px;
  margin: 30px auto;
  font-size: max(20px, 1.8vw);
  font-weight: 400;
  letter-spacing: 4px;
  border-radius: 15px;
  border: none;
  color: white;
  background-color: #2586db;
  box-shadow: 3px 5px 0 #084177;
  outline: none;
  cursor: pointer;
}

.signUp {
  background-color: rgb(37, 37, 37);
  box-shadow: 3px 5px 0 grey;
}
