<section class="user-container">

  <h1 class="title-user">Meu Perfil</h1>

  <div class="user-data">
    <app-edit  [valueTf]="user" (closeEdit)="closeEditModal()"></app-edit>
    <div class="user">
      <img [src]="user.userPic" class="img"
        alt="User-emage">
      <div class="letters">
        <h2 class="userName">{{user.userfName}} {{user.usersName}}, {{user.userCountry}} </h2>
        <h4 class="userEmail"> {{user.userEmail}} </h4>
      </div>

      <button mat-raised-button class="button" (click)="openEdit()">Editar</button>
    </div>

    <div class="data-area">
      <ul class="ul-data">
        <li class="li-data">
          <i class="material-icons mdl-list__item-avatar icon">person</i>
          <div class="data">
            <span class="title-li">Dados Pessoais</span>
            <span class="">{{user.userfName}}
              {{user.usersName}}
            </span>
          </div>
        </li>
        <li class="li-data">
          <i class="material-icons mdl-list__item-avatar icon">phone</i>
          <div class="data">
            <span class="title-li">Telefone</span>
            <span class="">{{user.userNumber}}</span>
          </div>
        </li>
        <li class="li-data">
          <i class="material-icons mdl-list__item-avatar icon">email</i>
          <div class="data">
            <span class="title-li">Email</span>
            <span class="">{{user.userEmail}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="tic b-tickets">
    <div class="tic-title">
      <h2 class="title-btic">Histórico de Passagens</h2>
    </div>
    <div class="tics">
      <img src="https://www.flaticon.com/svg/static/icons/svg/1376/1376786.svg" class="img-box" alt="empty box">
      <span class="text-tic">Você ainda não possui passagens compradas</span>
      <button mat-raised-button class="button">Comprar</button>
    </div>
  </div>
  <div class="tic s-tickets">
    <div class="tic-title">
      <h2 class="title-btic">Passagens Favoritadas</h2>
    </div>
    <div class="tics">
      <img src="https://www.flaticon.com/svg/static/icons/svg/1376/1376786.svg" class="img-box" alt="empty box">
      <span class="text-tic">Você ainda não possui passagens compradas</span>
      <button mat-raised-button class="button">Favoritar</button>
    </div>
  </div>
  

  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <h2>Algumas ofertas para você</h2>
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Recife</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Viaje para recife com um acompanhante
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="/ticket">
        Conferir Passagem
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">star</i>
      </button>
    </div>
  </div>
  
</section>



