<section class="user-container">

  <h1 class="title-user">Meu Perfil</h1>

  <div class="user-data">
    <app-edit  [valueTf]="edit" (closeEdit)="closeEditModal()"></app-edit>
    <div class="user">
      <img src="https://lh3.googleusercontent.com/a-/AOh14GiQzRCYPi8uT_lMZX0FJyC1YS_LfC1D3jIpplRV8A=s96-c" class="img"
        alt="">
      <div class="letters">
        <h2 class="userName">{{userName}} </h2>
        <h4 class="userEmail"> {{userEmail}} </h4>
      </div>

      <button mat-raised-button class="button" (click)="openEdit()">Editar</button>
    </div>

    <div class="data-area">
      <ul class="ul-data">
        <li class="li-data">
          <i class="material-icons mdl-list__item-avatar icon">person</i>
          <div class="data">
            <span class="title-li">Dados Pessoais</span>
            <span class="">{{userName}}</span>
          </div>
        </li>
        <li class="li-data">
          <i class="material-icons mdl-list__item-avatar icon">phone</i>
          <div class="data">
            <span class="title-li">Telefone</span>
            <span class="">{{userNumber}}</span>
          </div>
        </li>
        <li class="li-data">
          <i class="material-icons mdl-list__item-avatar icon">email</i>
          <div class="data">
            <span class="title-li">Email</span>
            <span class="">{{userEmail}}</span>
          </div>
        </li>
      </ul>
    </div>
  </div>

  <div class="tic b-tickets">
    <div class="tic-title">
      <h2 class="title-btic">Histórico de Passagens</h2>
    </div>
    <div class="tics">
      <img src="https://www.flaticon.com/svg/static/icons/svg/1376/1376786.svg" class="img-box" alt="empty box">
      <span class="text-tic">Você ainda não possui passagens compradas</span>
      <button mat-raised-button class="button">Comprar</button>
    </div>
  </div>
  <div class="tic s-tickets">
    <div class="tic-title">
      <h2 class="title-btic">Passagens Favoritadas</h2>
    </div>
    <div class="tics">
      <img src="https://www.flaticon.com/svg/static/icons/svg/1376/1376786.svg" class="img-box" alt="empty box">
      <span class="text-tic">Você ainda não possui passagens compradas</span>
      <button mat-raised-button class="button">Favoritar</button>
    </div>
  </div>

</section>

