
main {
    background-image: url('./image/airplane-mobile.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    height: 100%;
    > nav {
        padding: 12px;
        background-color:#084177;
        border-radius: 0 0 25px 25px;
        position: relative;
        > button {
            position: absolute;
            top: 12px;
            right: 32px;
            background: transparent;
            border: none;
            text-transform: uppercase;
            font-weight: bold;
            color: white;
            cursor: pointer;
        }
    }

    > form {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        max-width: 240px;
        max-height: 232px;
        background-color: white;
        padding: 12px 12px 32px 12px;
        border-radius: 0 4px 4px 4px;
        box-shadow:  0 0 1em rgb(117, 117, 117), 0 0 1em rgb(68, 68, 68);
        > span {
            position: absolute;
            background-color: white;
            top: -20px;
            left: 0;
            border-radius: 4px 4px 0 0;
            display: flex;
            padding: 2px;
            > input {
                margin: 4px;
            }
        }
        > input[type=text], input[type=date] {
            width: 100%;
            margin: 2px 24px 2px 0;
        }
        > button {
            position: relative;
            left: 50%;
            transform: translateX(-10%);
            background: #3544C5;
            border-radius: 4px;
            width: 119px;
            height: 30px;
            color: white;
            margin-top: 4px;
        }
    }
}

section {
    width: 100%;
    height: 100%;
    > .sub-section {
        width: 60%;
        display: flex;
        justify-content: space-evenly;
        margin-top: 12px;
        flex-wrap: wrap;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
    }
    > div {
        position: relative;
        top: 16px;
        max-width: 235px;
        height: 40px;
        background-color:#084177;
        border-radius: 0px 25px 25px 0px;
        color: white;
        padding: 6px;
        overflow: hidden;
        > h1 {
            text-transform: uppercase;
        }
    }

    > .passage-card {
        width: 226px;
        height: 220px;
        background: #E9E9E9;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 5px;
        padding: 0;
        position: relative;
        margin-top: 12px;
        > .star {
            position: absolute;
            top: 6px;
            right: 6px;
        }
        > img {
            width: 100%;
            height: 136px;
            filter: drop-shadow(0px 1px 0px #C0C4D8);
            border-radius: 5px 5px 0px 0px;
            position: relative;
            z-index: 0;
        }
        > button {
            position: absolute;
            bottom: 0;
            left:50%;
            transform: translateX(-50%);
            cursor: pointer;
            background: #3544C5;
            border-radius: 25px 25px 0px 0px;
            width: 64px;
            border: none;
            color: white;
        }
        > .passage-description {
            width: 100%;
            height: 64px;
            border-radius: 0;
            padding: 0;
            color: black;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            > h1 {
                font-size: 1em;
                margin-top: -10px;
                margin-bottom: -22px;
                text-transform: bold;
            }
            > p {
                font-size: .8em;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .tooltip-social:hover .social-image {
            visibility: visible;
        }

        > .tooltip-social {
            position: absolute;
            top: 6px;
            left: 6px;
            display: inline-block;
            border-bottom: 1px dotted black;
            > .social-image {
                visibility: hidden;
              top: -28px;
              left: 12px;
              margin-top: 6px;
              width: 100%;
              background-color: white;
              color: #fff;
              text-align: center;
              border-radius: 6px;
              padding: 5px 0;
              display: flex;
              position: relative;
              z-index: 1;

              > img {
                margin: 0 4px 0 4px;
                cursor: pointer;
                > &:last-child {
                  margin: 0;
                }
              }

            }
          }

          
    }
}

footer {
    padding: 12px;
    background-color:#084177;
    text-align: center;
    color: white;
}


@media (min-width: 680px) {
    main {
        background-image: url('./image/airplane.jpg');
    }
}