<main class="main">

  <form action="">
    <div>
      <h1 class="title-form">Passagens áereas que cabem no seu bolso</h1>
    </div>
    <div class="inputs">
      <div class="block-input">
        <label for="partida">Partida </label>
        <input class="input" type="text" name="partida" id="partida" placeholder="Local de partida">
      </div>
      <div class="block-input">
        <label for="dataDeVolta">Destino</label>
        <input class="input" type="text" name="Destino" id="Destino" placeholder="Local de destino">
      </div>
      <div class="block-input">
        <label for="dataDePartida">Data de partida</label>
        <input class="input" id="dataDePartida" for="dataDePartida" type="date">
      </div>
      <div class="block-input">
        <label for="dataDeVolta">Data de retorno</label>
        <input class="input" id="dataDeVolta" type="date">
      </div>

    </div>

    <button class="button"> Pesquisar</button>

  </form>


</main>

<section>

  <div>
    <h1 class="title-tickets">Algumas ofertas para você </h1>
  </div>

  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Recife</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Viaje para recife com um acompanhante
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="/ticket">
        Conferir Passagem
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">star</i>
      </button>
    </div>
  </div>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Recife</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Viaje para recife com um acompanhante
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="/ticket">
        Conferir Passagem
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">star</i>
      </button>
    </div>
  </div>
  <div class="demo-card-wide mdl-card mdl-shadow--2dp">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Recife</h2>
    </div>
    <div class="mdl-card__supporting-text">
      Viaje para recife com um acompanhante
    </div>
    <div class="mdl-card__actions mdl-card--border">
      <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" routerLink="/ticket">
        Conferir Passagem
      </a>
    </div>
    <div class="mdl-card__menu">
      <button class="mdl-button mdl-button--icon mdl-js-button mdl-js-ripple-effect">
        <i class="material-icons">star</i>
      </button>
    </div>
  </div>


</section>