.main-login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  min-height: 500px;
}

.main-login .image-area {
  display: none;
  justify-content: center;
  align-items: center;
  width: 70%;
  height: 100%;
}
.main-login .image-area .image {
  width: 80%;
  height: 90%;
  background-color: #084177;
  box-shadow: 0 0 3px black;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  animation: movingRight 700ms;
}
.img-airplane {
  width: 90%;
}
.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  height: 100%;
}
.title-login {
  font-size: max(30px, 2vw);
}
.form {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0 0 3px black;
  animation: movingUp 700ms;
}
.link {
  margin-bottom: 5px;
}

.button {
  background-color: #084177;
  color: white;
  height: 50px;
}
@media (min-width: 900px) {
  .main-login .image-area {
    display: flex;
  }
  .login {
    width: 30%;
    height: 100%;
  }
  .form {
    width: 80%;
  }
}

@keyframes movingUp {
  from {
    margin-top: 50px;
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-top: 0;
  }
}
@keyframes movingRight {
  from {
    margin-right: 50px;
    opacity: 0;
  }
  to {
    opacity: 1;
    margin-left: 0;
  }
}
