main {
    display: flex;
    justify-content: center;
    .login {
        display: flex;
        flex-direction: column;
        margin: 50px 0;
        border: 1px solid black;
        background-color: white;
        padding: 25px;
        box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
        input {
            background-color: rgba(0,0,0,.04);
            border-radius: 4px 4px 0 0;
            padding: .75em;
            border: 0;
            border-bottom: 1px;
            margin-bottom: 12px;
            max-width: 520px;
        }
        button {
            background-color: #084177;
            max-width: 350px;
            border: 0;
            border-radius: 5px;
            padding: 6px;
            color: white;
        }
    }
}