<div class="mobile-container">
    <section class="user-area">
        <a routerLink=""><i class="material-icons back">keyboard_return</i></a>
        <img [src]="imgPath" class="user-img">
    </section>

    <section class="form-area">
        <h2 class="title title-signUp">Login</h2>
        <form class="form" >
          
            <input type="email" placeholder="Email">
            <input type="password" placeholder="Senha">
      

            <button class="button button-login">Entrar</button>
        </form>
    </section>
</div>