footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  background-color: white;
  margin-top: 10px;
  padding-top: 20px;
  border-radius: 30px 30px 0 0;
}

.sub-area {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}
.sub-area .title-footer {
  color: rgb(108, 108, 108);
}
.sub-area .form-area {
  display: flex;

  flex-direction: column;
  align-items: center;
  width: 70%;
  margin-bottom: 10px;
}

.sub-area .form-area .img-email {
  width: 80px;
  margin-bottom: 10px;
}
.sub-area .form-area .button-footer {
  background-color: #084177;
  color: white;
}
.input {
  width: 120%;
  max-width: 600px;
}

.divider {
  width: 95%;
  height: 1px;
  background-color: rgb(224, 224, 224);
  margin: 20px 0;
}

.social-media {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: center;
}
.social-media .ul-social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0;
}
.social-media .ul-social li {
  margin: 10px;
  filter: grayscale(50%);
}

.lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 30px;
}
.lists .title-li {
  font-weight: bold;
}
.lists li {
  margin: 5px;
}

@media (min-width: 900px) {
  footer{
    height: 100vh;
  }
  .lists {
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
  }
  iframe {
    width: 300px;
    height: 200px;
  }
  .divider {
    margin: 0px 0;
  }
}
