<div class="mobile-container">
    <section class="airPlane-area">
        <img class="airplane-img" [src]="imgPath" alt="airplane">
        <app-waves></app-waves>
    </section>
    <section class="login-area">
        <h2 class="title-login">
            Hora de decolar
        </h2>
        <div class="buttons-area">
            <a class="button" routerLink="/login">Login</a>
            <a class="button signUp" routerLink="/cadastro">Cadastro</a>
        </div>
        <a class="forgot-password" routerLink="/">Esqueceu a senha?</a>
    </section>
</div>